.container{
  margin-top:6rem;
  background-color: lightblue
}

.container h1{
  text-align: center;
  font-size: 1.2rem;
  color:white;
  font-weight: bold;
  background-color: green;
}

.container > div{
  margin: 0 auto;
}