@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: white;
  --second-color: #212121;
  --text-color: black;
  --text-color2: white;
  --hover-color: white;
  --background-color: #659f68;
  --border-color: black;
  --gradient-color: linear-gradient(to right, #659f68, #32669d);
}

.darkMode:root {
  --main-color: black;
  --text-color: white;
  --hover-color: black;
  --background-color: #32669d;
  --border-color: rgb(97, 97, 97);
  --gradient-color: linear-gradient(to left, #659f68, #32669d);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 400 14px roboto;
  color: var(--text-color);
  background-color: var(--main-color)
}

@media (min-width: 750px ) {
  html {
    font: 400 16px roboto;
  }
}

@media (min-width: 1000px ) {
  html {
    font: 400 18px roboto;
  }
}

h1 {
  font-size: 1.5rem
}

h2 {
  font-size: 1.4rem
}

p, a, li, span, h3 {
  font-size: 1rem
}

li{
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

.green{
  background-color: green;
}

.orange{
  background-color: orange;
}

.red{
  background-color: red;
}

.body-content {
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3rem);
}



/* label {
  position: absolute;
  top: -25px;
  left: 0;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

input {
  width: 370px;
  height: 35px;
  padding-left: 10px;
  border-radius: 10px;
  border: solid 1px var(--text-color);
  font-size: 1.2rem;
} */

button:hover {
  cursor: pointer;
}

.error {
  text-align: center;
  padding-top: 5px;
  color: red;
}


button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 30px;
  border-radius: 20px;
  border: solid 1px var(--text-color);
  font-size: 1.5rem;
}