.paginaCampanhas{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.filtros{
  width: 40%;
  padding:8px;
}

form > div{
  margin-bottom: 16px;
 
}

form .rotuloFiltro{
  border-bottom: gray thin solid;
  padding-bottom: 2px;
}

form input{
  margin-right: 6px;
}

.listaCampanhas li{
  margin-bottom:16px;
}

.listaCampanhas li:last-child{
  margin-bottom:0;
}

.listaCampanhas li:hover{
  cursor:pointer;
}

.none{
  display: none;
}
