.paginaCampanhas{
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.paginaCampanhas aside{
  background-color: cadetblue;
  padding: 16px;
  width: 25%;
}

form input{
  margin-right: 6px;
}

.paginaCampanhas main{
  width: 75%;
  background-color: burlywood;
}

.paginaCampanhas main ul{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}



form > div{
  margin-bottom: 16px;
 
}

form .rotuloFiltro{
  border-bottom: gray thin solid;
  padding-bottom: 2px;
}






.listaCampanhas li:hover{
  cursor:pointer;
}

.none{
  display: none;
}
